$color-principal: #b2cda1;
$color-secundario: #f07b58;
$color-terciario: #525352 ;
$color-cuarto: #757575;



%titulodepagina {
    width: 100%;
    color: $color-principal;
    font-family: 'libre Baskerville', 'serif';
    font-weight: bolder;
    font-size: 35px;
    padding: 2px 0px 4px 0px;
    font-style: normal;
    text-align: center;
    background-color: #757875c9;
}


%servicios {
    width: 300px;
    height: 350px;
    margin-left: 2%;
    margin-top: 6%;
    margin-bottom: 6%;
    font-style: oblique;
    text-align: center;
    display: inline-block;
    border-style: double;
    border-color: $color-principal; 
    
}
%servicioshover {
    box-shadow: 2px 19px 90px -22px rgba(5,1,0,0.76);
    -webkit-box-shadow: 2px 19px 90px -22px rgba(5,1,0,0.76);
    -moz-box-shadow: 2px 19px 90px -22px rgba(5,1,0,0.76);
    height: 400px;
    transform: scale(1.1)
}
        

%serviciosh3 {
    color: $color-secundario;
    font-family: 'roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    padding: 10px 5px 10px 5px;
}
        

        
%serviciosimg {
    width: 200px;
    height: 200px;
    margin: 10px 10px 10px 10px;
    }

%iconosi {
        font-size: 40px;
        margin: 5px 5px 5px 5px;
        color: $color-cuarto ;
    }
    
%iconosh3 {
        font-size: 20px;
        margin: 5px 5px 5px 5px;
        transition-duration: 1s;
        transition-timing-function: ease-in;
    }
    
%iconoshover {
        font-size: 23px;
        color: $color-secundario;
        font-weight: bold;
    }
    
%iconosiframe {
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin: 10px 5px 10px 5px;
    }    