


$color-principal: #b2cda1;
$color-secundario: #f07b58;
$color-terciario: #525352 ;
$color-cuarto: #757575;



%titulodepagina {
    width: 100%;
    color: $color-principal;
    font-family: 'libre Baskerville', 'serif';
    font-weight: bolder;
    font-size: 35px;
    padding: 2px 0px 4px 0px;
    font-style: normal;
    text-align: center;
    background-color: #757875c9;
}


