@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Baskerville:wght@700&family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap');

/*!-----------------RESET----------*/
.hero{
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image:url(../img/columnasdesoporte.jpeg);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    h2{
        color: #ffffff;
        font-family: 'libre Baskerville', 'serif';
        font-weight: bold;
        font-size: 50px;
        font-style: normal;
        padding-top: 30px;
        padding-bottom: 20px;
        margin: 30px 150px 5px 150px;
    }
    P{
        color: #ff5722 ;
        font-family: 'roboto','sans-serif';
        font-weight: 600;
        font-size: 20px;
        font-style: normal;
        margin: 50px 300px 10px 300px;
        background-color: rgba(0, 0, 0, 0.267);
    }
}
/*!--------------------------*/
.nosotros{
    width: 100%;
    height: 500px;
    h2{
        @extend %titulodepagina;
    }
    .tarjeta{
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        div{
            width: 25%;
            height: 230px;
            margin: 40px 0px 30px 0px;
            padding-top: 5px;
            align-items: center;
            border-radius: 20px;
            h3{
                color: black;
                font-family: 'roboto', 'sans-serif';
                font-weight: 200;
                font-size: 20px;
                font-style: normal;
                margin: 10px 10px 0px 10px;
            }
            p{
                color: black;
                font-family: 'roboto', 'sans-serif';
                font-weight: 200;
                font-size: 16px;
                font-style: normal;
                margin: 5px 10px 0px 5px;
            }
            img{
                width: 160px;
                height: 180px;
                margin-top: 5px;
                object-fit: cover;
                border-radius: 10%;
                border-color:  $color-cuarto;
                border-style: solid;
            } 
            h4{
                color: $color-secundario;
                font-family: 'libre Baskerville', 'serif';
                font-weight: bold;
                font-style: normal;
                text-align: center;
                font-weight: 700;
                font-size: 25px;
                margin-top: 15px;
                padding: 5px 5px 10px 5px;
            }
        }
    
        .valenti{
                box-shadow: 2px 19px 90px -22px rgba(5,1,0,0.76);
                -webkit-box-shadow: 2px 19px 90px -22px rgba(5,1,0,0.76);
                -moz-box-shadow: 2px 19px 90px -22px rgba(5,1,0,0.76);
                background: radial-gradient(circle, rgba(108,128,109,1) 25%, rgba(178,205,161,1) 86%);
            }    
        .pino{
            box-shadow: 2px 19px 90px -22px rgba(5,1,0,0.76);
            -webkit-box-shadow: 2px 19px 90px -22px rgba(5,1,0,0.76);
            -moz-box-shadow: 2px 19px 90px -22px rgba(5,1,0,0.76);
            background: radial-gradient(circle, rgba(108,128,109,1) 25%, rgba(178,205,161,1) 86%);
        }     
    }
    .carousel{
        display: none;
    }
}
/*!---------------formacion-----------*/
.formacion{
    display: flex;   
    justify-content: space-around; 
    align-items: center;
    margin-bottom: 10px;
    div{
        align-items: center;
        text-align: center;
        width: 40%;
        height: auto;
        h3{
            color: $color-secundario;
            font-family: 'libre Baskerville', 'serif';
            font-weight: bold;
            font-style: normal;
            text-align: center;
            font-weight: 700;
            font-size: 20px;
            margin-top: 5px;
            padding: 5px 5px 10px 5px;
        }
        p{
            color: black;
            font-family: 'roboto', 'sans-serif';
            font-weight: 200;
            font-size: 16px;
            font-style: normal;
            margin: 5px 10px 0px 5px;
        }
    }
    .herramientas{
        img{
            object-fit: fill;
            height: 450px;
            width: 100%;
            margin-right: 20px;
        }
    }
}
/*!---------------detalle-----------*/
.detalle{
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image:url(../img/techo.jpeg);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    h2{
        color: #ffffff;
        font-family: 'libre Baskerville', 'serif';
        font-weight: bold;
        font-size: 60px;
        font-style: normal;
        padding-top: 30px;
        padding-bottom: 20px;
        margin: 30px 150px 5px 150px;
    }
    p{
        color: $color-secundario  ;
        font-family: 'roboto','sans-serif';
        font-weight: 600;
        font-size: 20px;
        font-style: normal;
        margin: 30px 150px 20px 150px;
        background-color: rgba(0, 0, 0, 0.39);
    }
}
/*!---------------servicios-----------*/
.servicios{
    width: 100%;
    h2{
        @extend %titulodepagina;
    }
    div{
        width: 300px;
        height: 350px;
        margin-left: 2%;
        margin-top: 6%;
        margin-bottom: 6%;
        font-style: oblique;
        text-align: center;
        display: inline-block;
        border-style: double;
        border-color: $color-principal; 
        transition: 1s;
        &:hover{
            box-shadow: 2px 19px 90px -22px rgba(5,1,0,0.76);
            -webkit-box-shadow: 2px 19px 90px -22px rgba(5,1,0,0.76);
            -moz-box-shadow: 2px 19px 90px -22px rgba(5,1,0,0.76);
            height: 400px;
            transform: scale(1.1);
        }
        h3{
            color: $color-secundario;
            font-family: 'roboto', sans-serif;
            font-weight: 700;
            font-size: 30px;
            padding: 10px 5px 10px 5px;
        }
        img{
            width: 200px;
            height: 200px;
            margin: 10px 10px 10px 10px;
        }
    }
}
/*!---------------intro-----------*/
.intro{
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.5)),  url(../img/obreros.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    h2{
        color: $color-secundario ;
        font-family: 'libre Baskerville', 'serif';
        font-weight: bold;
        font-size: 50px;
        font-style: normal;
        padding-top: 30px;
        padding-bottom: 20px;
        margin: 30px 150px 5px 150px;
    }
    p{
        color: white;
        font-family: 'roboto','sans-serif';
        font-weight: 600;
        font-size: 20px;
        font-style: normal;
        margin: 50px 300px 10px 300px;
        background-color: rgba(0, 0, 0, 0.267);
    }
}
/*!---------------galeria-----------*/
.galeria{
    width: 100%;
    h2{
        @extend %titulodepagina;
    }
    .grid-galeria{
        width: 100%;
        margin: 20px 0px 20px 0px;
        display: grid;
        grid-auto-rows: 200px ;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 15px;
        column-gap: 18px;
        .grid-item img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .estanteria{
            grid-row: span 2;
        }
        .cieloraso{
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        .metrobus{
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        .itauinterno{
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        .hormigon{
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start:2;
            grid-row-end: 3;
        }
        .segundacap{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        .itauexterno{
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        .paternal{
            grid-row: span 2;
        }
        .coto{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 4;
            grid-row-end: 5;
        }
        .desdeabajo{
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 4;
            grid-row-end: 5;
        }
    }
}
/*!---------------contacto-----------*/
.contacto{
    width: 100%;
    height: auto;
    background-color: #dedede;
    font-family: 'roboto','sans-serif';
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    h2{
        @extend %titulodepagina;
    }
    .iconos{
        div{
            i{
                font-size: 40px;
                margin: 5px 5px 5px 5px;
                color:$color-cuarto;
            }
            h3{
                font-size: 20px;
                margin: 5px 5px 5px 5px;
                transition-duration: 0.5s;
                transition-timing-function: ease-in;
                &:hover{
                    font-size: 23px;
                    color: $color-secundario;
                    font-weight: bold;
                }
            }

            iframe{
                width: 100px;
                height: 100px;
                object-fit: cover;
                margin: 10px 5px 10px 5px;
            }
        }
    }
}
/*!---------------whatsapp-----------*/
.whatsapp{
    position: fixed;
    right: 50px;
    bottom: 50px;
    img{
        width: 40px;
        height: 40px;
        object-fit: cover;
        z-index: 1;
    }
}
