@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Baskerville:wght@700&family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap');

/*!-----------------RESET----------*/
.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.5)),  url(../img/columnas\ de\ soporte.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    h2{
    color: #ffffff;
    font-family: 'libre Baskerville', 'serif';
    font-weight: bold;
    font-size: 50px;
    font-style: normal;
    padding-top: 25px;
    padding-bottom: 10px;
    margin: 0px 150px 5px 150px;
    }

    p{
    color: $color-secundario ;
    font-family: 'roboto','sans-serif';
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
    margin: 50px 300px 10px 300px;
    }
}

.quienessomos{
    width: 100%;

    .tarjetanosotros{
        display: grid;
        grid-template-rows: 10% 45% 45%;
        grid-template-columns: repeat(3, 1fr);
    
        .tituloquienessomos {
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
            h2 {
                @extend %titulodepagina;
            }
        }

        .valenti{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 4;
            margin-top: 85px;
            margin-left: 15px;
            box-shadow: 2px 19px 90px -22px rgba(5,1,0,0.76);
            -webkit-box-shadow: 2px 19px 90px -22px rgba(5,1,0,0.76);
            -moz-box-shadow: 2px 19px 90px -22px rgba(5,1,0,0.76);
            background: radial-gradient(circle, rgba(108,128,109,1) 25%, rgba(178,205,161,1) 86%);
            @extend %tarjeta;
            h2{
                    @extend %tarjetah2;
                }
            p{
                    @extend %tarjetap;
                }
            img{
                    @extend %tarjetaimg;
                }
            }

        .vision{
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
            margin-top: 40px;
            p{
                font-size: 20px;
            }
            h3{
                @extend %look;
            }
        }

        .mision{
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;
            margin-top: 0px;
            p{
                font-size: 20px;
            }
            h3{
                @extend %look;
            }
        }

        .pino{
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 4;
            margin-top: 85px;
            box-shadow: 2px 19px 90px -22px rgba(5,1,0,0.76);
            -webkit-box-shadow: 2px 19px 90px -22px rgba(5,1,0,0.76);
            -moz-box-shadow: 2px 19px 90px -22px rgba(5,1,0,0.76);
            background: radial-gradient(circle, rgba(108,128,109,1) 25%, rgba(178,205,161,1) 86%);
            @extend %tarjeta;
            h2{
                @extend %tarjetah2;
            }
            p{
                    @extend %tarjetap;
                }
            img{
                    @extend %tarjetaimg;
                }
        }

        .carousel{
            display: none;
        }
    }
}


            /*----COMPLETAR---*/

.servicios{
    width: 100%;
    
    h2{
        @extend %titulodepagina
    }
    .obras{
        @extend %servicios;
        transition: 1s;
        :hover{
            @extend %servicioshover;
        }
        h3{
            @extend %serviciosh3;
        }
        img{
        @extend %serviciosimg;
        }
    }
    .comercios{
        @extend %servicios;
        transition: 1s;
        :hover{
            @extend %servicioshover;
        }
        h3{
            @extend %serviciosh3;
        }
        img{
        @extend %serviciosimg;
        }
    }
    .capacitaciones{
        @extend %servicios;
        transition: 1s;
        :hover{
            @extend %servicioshover;
        }
        h3{
            @extend %serviciosh3;
        }
        img{
        @extend %serviciosimg;
        }
    }
}

.galeria{
    h2{
        @extend %titulodepagina;
    }
    .grid-galeria{
        width: 100%;
        margin: 20px 0px 20px 0px;
        display: grid;
        grid-auto-rows: 200px ;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10px;
        column-gap: 15px;

        .grid-item{
            img{
                width: 100%;
                height: 100%;
                object-fit: cover
            }
        }
        
        .estanteria{
            grid-row: span 2;
        }
        
        .cieloraso{
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        
        .metrobus{
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        
        .itauinterno{
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        
        .hormigon{
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start:2;
            grid-row-end: 3;
        }
        
        .segundacap{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        
        .itauexterno{
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        
        .paternal{
            grid-row: span 2;
        }
        
        .coto{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 4;
            grid-row-end: 5;
        }
        
        .desdeabajo{
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 4;
            grid-row-end: 5;
        }
        .galeria div img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.contacto {
    width: 100%;
    height: 120vh;
    background-color: #dedede;
    font-family: 'roboto','sans-serif';
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    h2{
        width: 100%;
        font-size: 35px;
        padding: 2px 0px 4px 0px;
        font-style: normal;
        text-align: center;
        @extend %titulodepagina;
    }

    .iconos{
        .datos{
            i{
                @extend %iconosi;
            }
            h3{
                @extend %iconosh3;
                
                :hover{
                    @extend %iconoshover;
                }
            }
            i{
                @extend %iconosi;
            }
            h3{
                @extend %iconosh3;
                

                :hover{
                    @extend %iconoshover;
                }
            }
            i{
                @extend %iconosi;
            }
            h3{
                @extend %iconosh3;
                :hover{
                    @extend %iconoshover;
                }
            }
        }
    
        .oficinas{
            i{
                @extend %iconosi;
            }
            h3{
                @extend %iconosh3;
    
                :hover{
                    @extend %iconoshover;
                }
            }
            iframe{
                @extend %iconosiframe;
            }
        }
    }
}
.whatsapp{
    position: fixed;
    right: 50px;
    bottom: 50px;
    img{
        width: 40px;
        height: 40px;
        object-fit: cover;
    }
}



